# ignore object files any where in tree
*.cmd
*.o
*.mod.c

# ignore gedit backup files
*~

# ignore generated kernel modules
*.ko

# ignore .tmp_versions directory
.tmp_versions/

# ignore .symvers .log and .order files
*.symvers
*.order
*.log
